## Question 1

In [ ]:
What exactly is []?

'[]' means an empty list which is created to add any elements further down the code.

## Question 2

In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)

In [4]:
spam=[2,4,6,8,10]
# to assign "hello" as the third value in the above list
spam.insert(2,"hello")
spam

[2, 4, 'hello', 6, 8, 10]

## Let's pretend the spam includes the list ['a', 'b', 'c', 'd'] for the next three queries.

## Question 3

What is the value of spam[int(int('3' * 2) / 11)]?

In [7]:
spam.clear()
spam=['a','b','c','d']
val=spam[int(int('3'*2)/11)]
print(val)
#The value will be d

d

## Question 4 & 5

What is the value of spam[-1]?
What is the value of spam[:2]?

In [11]:
print(spam[-1]) # The value will be d since the slicing is done in reverse format
print(spam[:2]) # The value will be ['a','b'] since the slicing range is 2 and by default will start from 0

d
['a', 'b']

## Let's pretend bacon has the list [3.14, 'cat,' 11, 'cat,' True] for the next three questions.

## Question 6,7,8

What is the value of bacon.index('cat')?
How does bacon.append(99) change the look of the list value in bacon?
How does bacon.remove('cat') change the look of the list in bacon?

In [27]:
bacon=[3.14,'cat',11,'cat',True]
a=bacon.index('cat') #The value will be one i.e the first occurrence
print(a)

1

In [28]:
bacon.append(99)
print(bacon)
#The bacon list will add the element or append the element 99 into the list after which the updated length will be 6

[3.14, 'cat', 11, 'cat', True, 99]
6

In [29]:
bacon.remove('cat')
print(bacon)
# The first occurrence of the element 'cat' will be removed and the updated length will be 5

[3.14, 11, 'cat', True, 99]

## Question 9

What are the list concatenation and list replication operators?

List concatenation = We use the '+' operator
eg:-

In [30]:
lst=[1,2,3,4]
lst1=[5,6,7,8]
lst+lst1

[1, 2, 3, 4, 5, 6, 7, 8]

List replication = We use the '*' operator
eg:-

In [34]:
lst2=[1,2,3,4]
lst2*2

[1, 2, 3, 4, 1, 2, 3, 4]

## Question 10

What is difference between the list methods append() and insert()?

append()- This method will append or insert the element at the last position of the list by default
insert()- This method will take two arguments i.e the position and the data to be inserted. insert() method will allow us to give a particular position to insert before.
eg:-

In [41]:
lst33=[1,2,3]
lst44="Aayush"
lst33.append(lst44)
print(lst33)
lst33.insert(2,"Rajesh")
print(lst33)

[1, 2, 3, 'Aayush']
[1, 2, 'Rajesh', 3, 'Aayush']

## Question 11

What are the two methods for removing items from a list?

Method 1:-
pop()- This method will pop a particular item whose index has been passed as an argument.
Method 2:-
remove()- This method will remove a particular value whose value itself has been as an argument.
for eg:-

In [42]:
lst22=[1,2,3,4,5,6,7,8,"Mahesh","Suresh","Jayesh"]
lst22.pop(2) #element 3 will be removed which is on index 2
print(lst22)
lst22.remove("Mahesh") #element "Mahesh" will be removed which is itself passed as an argument to remove() method.
print(lst22)

[1, 2, 4, 5, 6, 7, 8, 'Mahesh', 'Suresh', 'Jayesh']
[1, 2, 4, 5, 6, 7, 8, 'Suresh', 'Jayesh']

## Question 12

Describe how list values and string values are identical.

Both the list values and string values are ordered i.e when list values are created or defined inside the list it will be maintained forever.Same goes to string values when they are created.

## Question 13

What's the difference between tuples and lists?

In [ ]:
Tuples:-
    1) These are not mutable
    2) Tuples only have two built in methods which are count and index
Lists:-
    1) These are mutable
    2) Lists have several built in methods such as append,insert,pop,remove,extend,clear etc

## Question 14

How do you type a tuple value that only contains the integer 42?

In [48]:
tups=(42)
print(tups)

42

## Question 15

How do you get a list value's tuple form? How do you get a tuple value's list form?

In [53]:
# To convert list values into tuple form
lst09=[1,2,3,4,5,6,7]
print(tuple(lst09))
#To convert tuple values to a list form
tups09=(1,2,3,4,5,6,7)
print(list(tups09))

(1, 2, 3, 4, 5, 6, 7)
[1, 2, 3, 4, 5, 6, 7]

## Question 16

Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?

Yes becuase variables contain a reference to the list values and they themselves are not necessarily lists. Variables simply contain integer,string,float,bool etc values.

### Question 17

In [ ]:
How do you distinguish between copy.copy() and copy.deepcopy()?

In [86]:
lst1=[1,2,3,4]
lst2=lst1.copy()

In [88]:
lst2[1]=2000

In [89]:
lst2

[1, 2000, 3, 4]

In [90]:
lst1

[1, 2, 3, 4]

In [101]:
lst1=[[1,2,3,4],[23,33,44]]
lst2=lst1.copy() #in nested list both will be updated as it is referencing to the same object inside the nested list

In [104]:
lst1[1][1]

33

In [105]:
lst1[1][1]="300"

In [106]:
lst1

[[1, 2, 3, 4], [23, '300', 44]]

In [107]:
lst2

[[1, 2, 3, 4], [23, '300', 44]]

In [114]:
lst1=[[1,2,3,4],[23,33,44]]
lst2=lst1.copy()

In [115]:
lst2.append([33,56])
lst2 #while using append opeartion list 2 will be changed but not the list 1

[[1, 2, 3, 4], [23, 33, 44], [33, 56]]

In [116]:
lst1

[[1, 2, 3, 4], [23, 33, 44]]

In [117]:
import copy
ls1 = [1,2,3,4,5,6]
ls2=copy.deepcopy(ls1) #here both shallow and deep copy work in the same way

In [118]:
ls2[1]=555
ls2

[1, 555, 3, 4, 5, 6]

In [119]:
ls1

[1, 2, 3, 4, 5, 6]

In [120]:
ls1 = [[1,2,3,4,5,6],[7,8,9,10],[11,12,13]]
ls2=copy.deepcopy(ls1)

In [121]:
ls2[1][2]

9

In [122]:
ls2[1][2]=670
ls2

[[1, 2, 3, 4, 5, 6], [7, 8, 670, 10], [11, 12, 13]]

In [123]:
ls1

[[1, 2, 3, 4, 5, 6], [7, 8, 9, 10], [11, 12, 13]]